.navbar {
    background-color: #f57875;
    border-bottom: 3px solid #f0003c;
}

.img-navbar {
    width: 100%;
}

.input-custom {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    background-color: #f57875;
    border: 3px solid #f0003c;
}

.input-custom:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.height-custom {
    height: 10%;

}

.dropdown-menu {
    width: 25vh;
}

.button-logout {
    border:none;
    background-color: transparent;
    color: #f0003c;
}