.nav-custom {
    background-color: #3586ff;
    /* border-bottom: 3px solid #f5dd9d;
    box-shadow: 0px 5px 20px #f0ed86; */
    border-bottom: 3px solid #4E95FF;
    box-shadow: 0px 5px 20px #4E95FF;
}

button{
    border: none;
    background-color: transparent;
}